### IntelliJ ###
.idea/
*.iml

### Maven ###
target/

### Logs ###
*.log

### Node ###
frontend/node_modules/
frontend/dist/

### Environment ###
.env
.env.*

### VS Code ###
.vscode/

### npm ###
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
__MACOSX/

### Java ###
out/
*.class
