.page-background {
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-background);
    display: flex;
    padding: var(--space-6) var(--space-5);
}

.page-background--center {
    align-items: center;
    justify-content: center;
}

.page-background--start {
    align-items: flex-start;
    justify-content: center;
}
